<mat-form-field class="example-full-width">
  <mat-label>Search User</mat-label>
  <input (keyup.enter)="search()" [(ngModel)]="searchString" matInput type="search">
  <button mat-icon-button matSuffix (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
<span style="padding-right: 3%"></span>
<mat-form-field appearance="fill">
  <mat-label>Search by Filter</mat-label>
  <mat-select [(ngModel)]="selectedFilter">
    <mat-option value="Username">Username</mat-option>
    <mat-option value="numOfPosts">Higher Number Of Posts</mat-option>
    <mat-option value="Year">User Create Year</mat-option>
  </mat-select>
</mat-form-field>
<div></div>
<button mat-raised-button color="primary" (click)="groupByUsers()">Group Posts By Users</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let user"><p *ngIf="!isEditMode(user.email)">
      {{user.email}}
    </p>
      <form  *ngIf="isEditMode(user.email)" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input #newUsername  matInput placeholder="{{user.email}}" value="{{user.email}}">
        </mat-form-field>
        <button (click)="saveUsername(newUsername.value,user.email)" mat-button >Ok</button>
      </form>
    </td>

  </ng-container>

    <ng-container matColumnDef="numberOfPosts">
      <th mat-header-cell *matHeaderCellDef> Number Of Posts </th>
      <td mat-cell *matCellDef="let user"><p *ngIf="!groupBySelected">Use Group By</p><p *ngIf="groupBySelected">{{user.numberOfPost}}</p></td>
    </ng-container>



  <ng-container  matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let user">
      <button *ngIf="currentUser.isAdmin" (click)="userEditMode[user.email] = true" mat-raised-button color="primary">Edit</button>
      <span style="padding-right: 2%"></span>
      <button *ngIf="currentUser.isAdmin" (click)="deleteUser(user)" mat-raised-button color="warn">Delete</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
