<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-form-field class="example-full-width">
    <mat-label>Search Post</mat-label>
    <input (keyup.enter)="search()" [(ngModel)]="searchString" matInput type="search">
    <button mat-icon-button matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <span style="padding-right: 3%"></span>
  <mat-form-field appearance="fill">
    <mat-label>Search by Filter</mat-label>
    <select [(ngModel)]="selectedFilter"  matNativeControl required>
      <option value="postName">Post Title</option>
      <option value="userName">Username</option>
      <option value="Year">Year</option>
    </select>
  </mat-form-field>

  <mat-expansion-panel *ngFor="let post of displayPosts">
    <mat-expansion-panel-header>
     <p>{{ post.title}}</p>
    </mat-expansion-panel-header>
    <p>{{post.createDate | date}}</p>
    <strong>Posted by:</strong> <p>{{ post.userName}}</p>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId==post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
               *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
